# [Java & Build Artifacts]
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Build Folders
bin/
out/
target/
.gradle/
build/
gen/
.sts4-cache/

# [IDE - IntelliJ IDEA]
.idea/
*.iml
*.iws
*.ipr
out/

# [IDE - Eclipse]
.metadata
.settings/
.loadpath
.recommenders/
.project
.classpath
.factorypath
*.launch
.externalToolBuilders/
.buildpath
.target
.apt_generated/
.apt_generated_test/
.springBeans
.pydevproject
.cproject
.autotools

# [IDE - VS Code]
.vscode/
*.code-workspace

# [OS - macOS]
.DS_Store
.AppleDouble
.LSOverride
._*

# [OS - Windows]
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.stackdump
*.lnk
*.cab
*.msi
*.msix
*.msm
*.msp

# [Temporary Files]
*.tmp
*.bak
*.swp
*~.nib
local.properties